/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@keyframes pulse {
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

body {
    height: 100vh;
    background-color: black;
    color: yellow;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.hidden {
    display: none !important;
}

.header {
    text-align: center;
    font-size: 2.1rem;
}

main {
    padding: 2rem 4rem;
}

.menu-screen, .game-screen {
    outline: none;
}

.input-selector-wrapper {
    margin: 0 auto;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    font-size: 2rem;
}

.input-header {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    transition: transform ease-in-out 0.3s;
}

.input-header:hover {
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.input-names {
    counter-reset: players;
}

.input-name::before {
    counter-increment: players;
    content: counter(players);
    padding-right: 1rem;
    opacity: 1;
}

.input-name {
    cursor: pointer;
    white-space: nowrap;
}

.name {
    opacity: 0.3;
}

.input-selected .name, .input-assigned .name {
    opacity: 1;
}

.input-name:hover .name {
    opacity: 1;
}

.input-spec {
    text-transform: none;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.input-keys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: uppercase;
    text-align: center;
}

.input-left, .input-right {
    width: 10rem;
}

.input-left div, .input-right div {
    min-height: 2rem;
    max-height: 2rem;
    white-space: nowrap;
}

.fred {
    color: red;
    stroke: red;
}

.greenlee {
    color: forestgreen;
    stroke: forestgreen;
}

.pinkey {
    color: deeppink;
    stroke: deeppink;
}

.bluebell {
    color: blue;
    stroke: blue;
}

.willem {
    color: orange;
    stroke: orange;
}

.greydon {
    color: grey;
    stroke: grey;
}

.footer {
    text-align: right;
}

.start-info {
    margin: 2rem auto;
    width: 40%;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    text-align: center;
    -webkit-transition: -webkit-transform ease-in-out 0.2s;
    transition: -webkit-transform ease-in-out 0.2s;
    -o-transition: transform ease-in-out 0.2s;
    transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}

.start-info.space-active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.game-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.gameboard-wrapper {
    border: 2px solid yellow;
    width: fit-content;
    height: fit-content;
}

.gameboard {
    width: 50vw;
    height: 50vw;
    max-width: 80vh;
    max-height: 80vh;
}

.side-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.scoreboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 2rem;
}

.scoreboard-header {
    font-size: 2.5rem;
    text-align: center;
}

.scoreboard-subheader {
    margin-bottom: 2rem;
    text-align: center;
}

.points-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 2rem;
    text-transform: capitalize;
    width: 80%;
}

.points-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.points-row > span {
    margin-right: 1rem;
}

svg circle {
    fill: yellow;
}

svg circle.inverted {
    fill: blue;
}

.winner-announcement {
    position: absolute;
    width: 40rem;
    left: calc(50% - 20rem);
    text-align: center;
    top: 50%;
    text-transform: capitalize;
    font-size: 6rem;
    border: solid 2px yellow;
    padding: 2rem;
    background-color: black;
}


.backToMenu {
    cursor: pointer;
    margin-top: 4rem;
    background-color: black;
    border: solid 2px yellow;
    color: yellow;
    padding: 1rem;
    font-size: 1.2rem;
    -webkit-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
    -o-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s, transform ease-in-out 0.2s;
    transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s, transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}

.backToMenu:hover {
    color: black;
    background-color: yellow;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.backToMenu:active {
    color: yellow;
    background-color: black;
}

.sound-setting-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.5rem;
}

.sound-setting-wrapper label {
    -webkit-transition: -webkit-transform ease-in-out 0.2s;
    transition: -webkit-transform ease-in-out 0.2s;
    -o-transition: transform ease-in-out 0.2s;
    transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}

.sound-setting-wrapper label:hover {
    transform: scale(1.1);
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: -30px;
    height: 25px;
    width: 25px;
    border: 2px solid yellow;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Zobrazi checkmark pri zaskrtnutem inputu */
input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
}

/* Checkmark */
.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid yellow;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.space-info {
    font-size: 1.3rem;
    color: white;
    margin: 1rem;
}

.space-info-action {
    text-decoration: underline;
}

.pulse {
    animation: pulse 0.5s;
}

@media screen and (max-width: 990px) {
    body {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .header {
        font-size: 1.6rem;
    }

    .input-header {
        font-size: 1rem;
    }

    .input-keys {
        font-size: 1.5rem;
    }

    .start-info {
        width: 60%;
        font-size: 1rem;
    }
}